[submodule "sublime_user"]
	path = sublime_user
	url = /Users/johannes/.dotfiles/sublime_user
[submodule "Vundle.vim"]
    path = vim/bundle/Vundle.vim
    url = https://github.com/gmarik/Vundle.vim.git
[submodule "powerline"]
    path = vim/bundle/powerline
    url = https://github.com/powerline/powerline.git
[submodule "vim-gitgutter"]
    path = vim/bundle/vim-gitgutter
    url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim-markdown"]
    path = vim/bundle/vim-markdown
    url = https://github.com/plasticboy/vim-markdown.git
[submodule "nerdtree"]
    path = vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "syntastic"]
    path = vim/bundle/syntastic
    url = https://github.com/scrooloose/syntastic.git
[submodule "editorconfig-vim"]
    path = vim/bundle/editorconfig-vim
    url = https://github.com/editorconfig/editorconfig-vim.git
