[submodule "etc/zsh/plugins/zsh-interactive-cd"]
	path = etc/zsh/plugins/zsh-interactive-cd
	url = https://github.com/changyuheng/zsh-interactive-cd.git
[submodule "etc/zsh/plugins/zsh-autosuggestions"]
	path = etc/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "etc/zsh/plugins/zsh-syntax-highlighting"]
	path = etc/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
