*.idx
*.ilg
*.ind
*.lof
*.lot
*.tdo
*.aux
*.nav
*.out
*.toc
*.snm
*.blg
*.ist
.svn
._*
*.o
*.a
*~
*.swp
*.swo
*bak*
.depend
.DS_Store
tags
.zhistory
*.orig
*.mk
*.log
*.bib
*.bbl
*.glo
*.vrb
*.1
DerivedData
.hg/
.hgignore
*.autosave
#*
_*
*._aux
*._aux
*.fdb_latexmk
.sconsign.dblite
