Host sshhska
Hostname login.hs-karlsruhe.de
User stjo1018
LocalForward 7777 :80
Compression yes

# Host fzitunnel
# Hostname lotus.fzi.de
# User steudle
# LocalForward 7777 mclaren:22
# Compression yes
# 
# Host fzimaserati
# Hostname localhost
# User steudle
# Port 7777
# Compression yes
# ForwardX11 yes
# 

# Hostname bitbucket.org
# ProxyCommand /usr/local/bin/connect -S localhost:7070 %h %p
