[submodule "bundle/vim-django-support"]
	path = bundle/vim-django-support
	url = https://github.com/vim-scripts/vim-django-support.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-smartusline"]
	path = bundle/vim-smartusline
	url = https://github.com/molok/vim-smartusline.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-supertab"]
	path = bundle/vim-supertab
	url = https://github.com/tsaleh/vim-supertab.git
