<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.j0d5.repo.update</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/johannes/Developer/dotfiles/bin/system-update.sh</string>
      <string>/Users/johannes/Developer</string>
    </array>

    <key>Nice</key>
    <integer>11</integer>

    <key>StartCalendarInterval</key>
    <dict>
      <key>Minute</key>
      <integer>35</integer>
      <key>Hour</key>
      <integer>8</integer>
    </dict>

    <key>RunAtLoad</key>
    <true />

    <key>StandardErrorPath</key>
    <string>/Users/johannes/system-update.err</string>

    <key>StandardOutPath</key>
    <string>/Users/johannes/system-update.out</string>
  </dict>
</plist>
